<div>
  <div *ngIf="showData == true">
    Below are the Details of the Customer: <b > {{listDetailsData.name.first | uppercase}} </b>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>Name</td>
          <td>
            {{listDetailsData.name.title | titlecase}}.
            {{listDetailsData.name.first | titlecase}} {{listDetailsData.name.last | titlecase}}
          </td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{listDetailsData.email}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{listDetailsData.gender | titlecase}}</td>
        </tr>
        <tr>
            <td>Zip</td>
            <td>{{listDetailsData.location.postcode}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{listDetailsData.location.city | titlecase}}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{listDetailsData.location.state | titlecase}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="showData == false">Customer Data not Available.</div>
</div>