<!--The content below is only a placeholder and can be replaced.-->
<div class="col-xs-12 col-sm-12">
  <div class="row">
      <div class="col-xs-12 col-sm-2 left-aside sidebar bg-light">
        
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/viewList">
                <span>View Lists</span>
              </a>
            </li>
          </ul>
        </div>
        <!--<p><a routerLink="/addcontact">Add New Contact</a></p>
        <p><a routerLink="/allcontactdetails">View Contacts</a></p>-->
      </div>
      <div class="col-xs-12 col-sm-7 content-sec">
          <router-outlet></router-outlet>   
      </div>
  </div>
 
</div>

